In [121]:
# Import Libraries and Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  
from sklearn.model_selection import train_test_split    # To split the dataset into train and test sets
from sklearn.preprocessing import StandardScaler, OneHotEncoder   # For scaling and encoding categorical variables
from sklearn.compose import ColumnTransformer           # To apply transformers to specific columns
from sklearn.impute import SimpleImputer                # For handling missing data
from sklearn.ensemble import RandomForestClassifier     # Random Forest Classifier
from sklearn.linear_model import LogisticRegression     # Logistic Regression
from sklearn.svm import SVC                            # Support Vector Classifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score # For evaluating the model
import joblib

In [122]:
#import the data
hr_data = pd.read_csv('resources/HR-Employee-Attrition.csv')
hr_data.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [123]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [124]:
hr_data['Attrition'] = hr_data['Attrition'].apply(lambda x: 1 if x == 'Yes' else 0) # Convert the target variable to binary

In [125]:
#check for missing values
hr_data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [126]:
#apply onehotencoding to the categorical variables
categorical_columns = hr_data.select_dtypes(include=['object']).columns.tolist()
#categorical_columns
hr_data_encoded = pd.get_dummies(hr_data, columns=categorical_columns, drop_first=True)
hr_data_encoded.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1,1102,1,2,1,1,2,94,3,...,False,False,False,False,False,True,False,False,True,True
1,49,0,279,8,1,1,2,3,61,2,...,False,False,False,False,True,False,False,True,False,False
2,37,1,1373,2,2,1,4,4,92,2,...,True,False,False,False,False,False,False,False,True,True
3,33,0,1392,3,4,1,5,4,56,3,...,False,False,False,False,True,False,False,True,False,True
4,27,0,591,2,1,1,7,1,40,3,...,True,False,False,False,False,False,False,True,False,False

In [127]:
hr_data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 48 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   Attrition                          1470 non-null   int64
 2   DailyRate                          1470 non-null   int64
 3   DistanceFromHome                   1470 non-null   int64
 4   Education                          1470 non-null   int64
 5   EmployeeCount                      1470 non-null   int64
 6   EmployeeNumber                     1470 non-null   int64
 7   EnvironmentSatisfaction            1470 non-null   int64
 8   HourlyRate                         1470 non-null   int64
 9   JobInvolvement                     1470 non-null   int64
 10  JobLevel                           1470 non-null   int64
 11  JobSatisfaction                    1470 non-null   int64
 12  MonthlyIncome                      1470 non-null   int64
 13  MonthlyRate                        1470 non-null   int64
 14  NumCompaniesWorked                 1470 non-null   int64
 15  PercentSalaryHike                  1470 non-null   int64
 16  PerformanceRating                  1470 non-null   int64
 17  RelationshipSatisfaction           1470 non-null   int64
 18  StandardHours                      1470 non-null   int64
 19  StockOptionLevel                   1470 non-null   int64
 20  TotalWorkingYears                  1470 non-null   int64
 21  TrainingTimesLastYear              1470 non-null   int64
 22  WorkLifeBalance                    1470 non-null   int64
 23  YearsAtCompany                     1470 non-null   int64
 24  YearsInCurrentRole                 1470 non-null   int64
 25  YearsSinceLastPromotion            1470 non-null   int64
 26  YearsWithCurrManager               1470 non-null   int64
 27  BusinessTravel_Travel_Frequently   1470 non-null   bool
 28  BusinessTravel_Travel_Rarely       1470 non-null   bool
 29  Department_Research & Development  1470 non-null   bool
 30  Department_Sales                   1470 non-null   bool
 31  EducationField_Life Sciences       1470 non-null   bool
 32  EducationField_Marketing           1470 non-null   bool
 33  EducationField_Medical             1470 non-null   bool
 34  EducationField_Other               1470 non-null   bool
 35  EducationField_Technical Degree    1470 non-null   bool
 36  Gender_Male                        1470 non-null   bool
 37  JobRole_Human Resources            1470 non-null   bool
 38  JobRole_Laboratory Technician      1470 non-null   bool
 39  JobRole_Manager                    1470 non-null   bool
 40  JobRole_Manufacturing Director     1470 non-null   bool
 41  JobRole_Research Director          1470 non-null   bool
 42  JobRole_Research Scientist         1470 non-null   bool
 43  JobRole_Sales Executive            1470 non-null   bool
 44  JobRole_Sales Representative       1470 non-null   bool
 45  MaritalStatus_Married              1470 non-null   bool
 46  MaritalStatus_Single               1470 non-null   bool
 47  OverTime_Yes                       1470 non-null   bool
dtypes: bool(21), int64(27)
memory usage: 340.3 KB

In [128]:
hr_data_encoded.columns

Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='object')

In [129]:
# Split the data into training and testing sets
X = hr_data_encoded.drop(columns='Attrition')
y = hr_data_encoded['Attrition'].values.reshape(-1,1)  
y[:5]

array([[1],
       [0],
       [1],
       [0],
       [0]])

In [130]:
hr_data_encoded['Attrition'].value_counts()

Attrition
0    1233
1     237
Name: count, dtype: int64

In [131]:
from imblearn.over_sampling import SMOTE
# Instantiate the SMOTE instance 
# Set the sampling_strategy parameter equal to auto
smote_hr_data = SMOTE(random_state=1, sampling_strategy='auto')

In [132]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
X_train.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1102.000000,1102.000000,1102.000000,1102.000000,1102.0,1102.000000,1102.00000,1102.000000,1102.000000,1102.000000,...,1102.000000,1102.0,1102.000000,1102.000000,1102.000000,1102.000000,1102.000000,1102.000000,1102.000000,1102.000000
mean,36.682396,800.098911,9.037205,2.893829,1.0,1038.008167,2.69510,66.401089,2.730490,2.024501,...,2.714156,80.0,0.791289,10.967332,2.800363,2.750454,6.814882,4.139746,2.048094,4.060799
std,8.998175,402.644846,7.963328,1.008852,0.0,604.643463,1.09642,20.245692,0.708682,1.104996,...,1.082836,0.0,0.855604,7.548982,1.293483,0.732268,5.980762,3.627837,3.038722,3.550713
min,18.000000,103.000000,1.000000,1.000000,1.0,1.000000,1.00000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,466.500000,2.000000,2.000000,1.0,500.250000,2.00000,49.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,35.000000,800.000000,7.000000,3.000000,1.0,1029.500000,3.00000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,42.000000,1153.750000,13.000000,4.000000,1.0,1577.500000,4.00000,84.000000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,2.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.00000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [133]:
# Fit the training data to the smote_sampler model
X_resampled, y_resampled = smote_hr_data.fit_resample(X_train, y_train)

In [134]:
hr_data_encoded['Attrition'].value_counts()

Attrition
0    1233
1     237
Name: count, dtype: int64

In [135]:
#rf_model = RandomForestClassifier(n_estimators=128, random_state=78)
#rf_model = rf_model.fit(X_train, y_train)

In [136]:
#clean the dataset
#delete columns that are not needed
#hr_data_drop = hr_data.drop(columns=['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours', 'EducationField', 'TrainingTimesLastYear', 'Department', 'Gender', 'NumCompaniesWorked', 'MaritalStatus', 'JobLevel'])
#hr_data_drop.tail(10)

In [137]:
#hr_data_drop.columns

In [138]:
#view JobRole column
#hr_data_drop['JobRole'].value_counts()

In [139]:
#view JobInvolvement column
#hr_data_drop['JobInvolvement'].value_counts()

In [140]:
#check for missing values

In [141]:
# Drop rows with missing values
#hr_data_drop = hr_data_drop.dropna()

In [142]:
#Check the datatypes on JonInvolvement
#hr_data_drop['JobInvolvement'].dtypes