In [21]:
# Import Libraries and Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  
from sklearn.model_selection import train_test_split    # To split the dataset into train and test sets
from sklearn.preprocessing import StandardScaler, OneHotEncoder   # For scaling and encoding categorical variables
from sklearn.compose import ColumnTransformer           # To apply transformers to specific columns
from sklearn.impute import SimpleImputer                # For handling missing data
from sklearn.ensemble import RandomForestClassifier     # Random Forest Classifier
from sklearn.linear_model import LogisticRegression     # Logistic Regression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score # For evaluating the model
import joblib

In [22]:
#import the data
hr_data = pd.read_csv('resources/HR-Employee-Attrition.csv')
hr_data.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [19]:
#clean the dataset
#delete columns that are not needed
#hr_data_drop = hr_data.drop(columns=['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours', 'EducationField', 'TrainingTimesLastYear', 'Department', 'Gender', 'NumCompaniesWorked', 'MaritalStatus', 'JobLevel'])
#hr_data_drop.tail(10)

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobRole,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1460,29,No,Travel_Rarely,468,28,4,4,73,2,Research Scientist,...,14,3,2,0,5,1,5,4,0,4
1461,50,Yes,Travel_Rarely,410,28,3,4,39,2,Sales Executive,...,13,3,2,1,20,3,3,2,2,0
1462,39,No,Travel_Rarely,722,24,1,2,60,2,Sales Executive,...,11,3,1,1,21,2,20,9,9,6
1463,31,No,Non-Travel,325,5,3,2,74,3,Manufacturing Director,...,19,3,2,0,10,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,5,3,4,30,2,Sales Representative,...,18,3,4,0,5,3,4,2,0,0
1465,36,No,Travel_Frequently,884,23,2,3,41,4,Laboratory Technician,...,17,3,3,1,17,3,5,2,0,3
1466,39,No,Travel_Rarely,613,6,1,4,42,2,Healthcare Representative,...,15,3,1,1,9,3,7,7,1,7
1467,27,No,Travel_Rarely,155,4,3,2,87,4,Manufacturing Director,...,20,4,2,1,6,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,2,3,4,63,2,Sales Executive,...,14,3,4,0,17,2,9,6,0,8
1469,34,No,Travel_Rarely,628,8,3,2,82,4,Laboratory Technician,...,12,3,1,0,6,4,4,3,1,2

In [20]:
#hr_data_drop.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'DistanceFromHome',
       'Education', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement',
       'JobRole', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [16]:
#view JobRole column
#hr_data_drop['JobRole'].value_counts()

JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64

In [17]:
#view JobInvolvement column
#hr_data_drop['JobInvolvement'].value_counts()

JobInvolvement
3    868
2    375
4    144
1     83
Name: count, dtype: int64

In [ ]:
#check for missing values

In [ ]:
# Drop rows with missing values
#hr_data_drop = hr_data_drop.dropna()

In [18]:
#Check the datatypes on JonInvolvement
#hr_data_drop['JobInvolvement'].dtypes

dtype('int64')